<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>SessionExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/create-session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSessionAttributes</display-name>
    <servlet-name>ListSessionAttributes</servlet-name>
    <servlet-class>ListSessionAttributes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSessionAttributes</servlet-name>
    <url-pattern>/list-session-attributes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateSession</display-name>
    <servlet-name>InvalidateSession</servlet-name>
    <servlet-class>InvalidateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateSession</servlet-name>
    <url-pattern>/invalidate-session</url-pattern>
  </servlet-mapping>
</web-app>