<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ErrorHandlesServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExceptionServlet</display-name>
    <servlet-name>ExceptionServlet</servlet-name>
    <servlet-class>ExceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionServlet</servlet-name>
    <url-pattern>/ExceptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Handler404</display-name>
    <servlet-name>Handler404</servlet-name>
    <servlet-class>Handler404</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Handler404</servlet-name>
    <url-pattern>/Handler404</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/Handler404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/ExceptionHandler</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ExceptionHandler</location>
  </error-page>
  
  
  
</web-app>